

.search-form{
    margin-top: 65px;
   
    
}
input[type=text]{
    float: left;
    padding: 7px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
}

button{
    float: left;
    background: orange;
    color:white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding: 7px;
    font-family:sans-serif;
    border: none;
    font-size: 16px;
}





